<!DOCTYPE html>
<head>
<title>IDE</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="style.css"/>
</head>
<body>
 
    <div class="whole-thing">
    <div class="ide">
        <div class="header">Online Ide</div>
        <div class="textarea">
            <textarea id="code">#include <bits/stdc++.h>

using namespace std;
                
int main(){

    cout<<"Hello World"<<endl;
                
    return 0;
}</textarea>
        </div>
        <div class="input"><b>Input:</b><br>
            <textarea id="input" rows="4" cols="70"></textarea>
            <div class="submit">
                <div class="submit-button"><input type="button" id="submit" value="Submit"></div>
                <div class="loader"></div>
            </div>
        </div>
        <div class="output"><b>Output:</b><br>
            <textarea id="output" rows="4" cols="70"></textarea>
        </div>
    </div>
    <div class="side-panel">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">C++ <span class="caret"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    <li><a href="#">C++</a></li>
                    <li><a href="#">C</a></li>
                    <li><a href="#">Java</a></li>
                    <li><a href="#">PHP</a></li>
                    <li><a href="#">Perl</a></li>
                    <li><a href="#">Python2</a></li>
                    <li><a href="#">Python3</a></li>
                    <li><a href="#">Ruby</a></li>
                    <li><a href="#">Go Lang</a></li>
                    <li><a href="#">Bash Shell</a></li>
                    <li><a href="#">SQL</a></li>
                    <li><a href="#">BrainFuck</a></li>
                    <li><a href="#">C#</a></li>
                    <li><a href="#">Swift</a></li>
                    <li><a href="#">Rust</a></li>
                    <li><a href="#">NodeJS</a></li>
                    <li><a href="#">Kotlin</a></li>
                    <li><a href="#">Whitespace</a></li>
                    <li><a href="#">R Language</a></li>
                </ul>
            </div>

    </div>
    </div>
    
    <script src="script.js"></script>
</body>
</html>