<!DOCTYPE html>
<head>
<title>IDE</title>
<style src="style.css"></style>
</head>
<body>
 
    <div class="ide">
        <div class="header">Online Ide</div>
        <div class="textarea">
            <textarea id="code" rows="30" cols="150">print(123)</textarea>
        </div>
        <div class="submit-button"><input type="button" id="submit" value="submit"></div>
        <div class="output"><b>Output:</b><br>
            <textarea id="output" rows="4" cols="10"></textarea>
        </div>
    </div>
    
    <script src="script.js"></script>
</body>
</html>